# Ignore editor and IDE files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build artifacts
/build/
/dist/

# Ignore dependencies
/node_modules/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore package lock files
package-lock.json
yarn.lock